.panel-notas {
  border-style: solid;
  border-width: thin;
  border-color: black;
  height: 110px;
  overflow-x: auto;
  overflow-y: hidden;
}

.sep-notas {
  padding-top: 1px;
  padding-left: 2px;
  padding-right: 2px;
}
