<div class="row">
  <div class="col-3">
    <h6><b>Canal de Voz {{voice}}</b></h6>
  </div>
  <div class="col-3">
    <i class="bi-play-circle pointer" style="font-size: 1.4rem; color: green"></i>
  </div>
  <div class="col-3">
    <i class="bi-pause-circle pointer" style="font-size: 1.4rem;"></i>
  </div>
  <div class="col-3">
    <i class="bi-stop-circle pointer" style="font-size: 1.4rem; color: red"></i>
  </div>
</div>

<div class="d-flex-inline">
  <input type="checkbox" class="size-checkbox pointer" [checked]="this.activated" (click)="toggleCheck()" />

  <div class="panel-notas">
    <div
      *ngIf="!this.loading && this.notes && this.notes.length > 0 && this.frequencies != null && this.frequencies.length > 0">
      <div class="d-flex">
        <div *ngFor="let note of this.notes; let i = index" class="sep-notas">
          <app-musical-note-in-voice [noteName]="note.name" [noteFrequency]="this.note.frequency"
            color="color-{{note.name}}" fontSize="small" [width]=30 [disabledClick]="true"
            (clickedNote)="clickedNote($event)" (erasedNote)="erasedNote($event, i)" >
          </app-musical-note-in-voice>
        </div>
      </div>
    </div>
  </div>
</div>
