<div class="d-flex justify-content-center">
  <h6><b>CONTROL DE LA MELODÍA</b></h6>
</div>
<br>

<div class="d-flex justify-content-around">
  <i (click)="clickPlay()" class="bi-play-circle pointer" style="font-size: 2rem; color: green"></i>
  <i class="bi-pause-circle pointer" style="font-size: 2rem; color: black"></i>
  <i class="bi-stop-circle pointer" style="font-size: 2rem; color: red"></i>
</div>


<div class="border-control-melodia separacion-panel-voces">
  <div class="row">
    <div class="col">
      <app-voice voice="1" [activated]=true [noteAdded]="this.note" [globalPlay]=this.playing></app-voice>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <app-voice voice="2" [noteAdded]="this.note" [globalPlay]=this.playing></app-voice>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <app-voice voice="3" [noteAdded]="this.note" [globalPlay]=this.playing></app-voice>
    </div>
  </div>
</div>
