.separacion-panel-voces {
  padding-top: 10px;
  padding-bottom: 10px;
}

.border-control-melodia {
   border-color: black;
   border-style: solid;
   border-width:thin;
   padding: 40px 40px 40px 40px;
   border-radius: 10px;
}

.size-checkbox {
  width: 90px;
  height: 90px;
}
